body,
html {
  background: $color-primary;
  color: $color-accent;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0;
}
a {
  color: $color-accent;
  text-decoration: none;
}

span {
  color: gainsboro;
  font-size: 1.25rem;
  margin: 0.5rem;
}
