.poster {
  grid-area: poster;
}

.info {
  grid-area: info;
}

.movie-details-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-areas:
    'poster'
    'info';

  @include breakpoint(desktop) {
    grid-template-columns: 35% 55%;
    grid-template-areas: 'poster info';
  }
}

.right {
  margin-left: 3rem;
}
