.movie-details-grid {
  display: grid;
  grid-template-columns: 35% 55%;

  grid-gap: 2rem;

  &_poster {
    grid-column: 1/2;
  }

  &_info {
    grid-column: 2/3;
  }
}

.right {
  margin-left: 3rem;
}
