#PopularMovies,
#TopRatedMovies,
#LatestMovies,
#PopularShows,
#TopRatedShows,
#LatestShows {
  width: 100%;
  margin: 20px;
}
.carousel-control-prev {
  margin-left: -125px;
}
.carousel-control-next {
  margin-right: -75px;
}
