body,
html {
  background: #141414;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
a {
  color: #fff;
  font-size: 20px;
}
