.main-nav {
  align-items: center;
  display: grid;
  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: 55px;
  justify-items: center;
  top: 0;
}

.search-bar {
  border: none;
  border-radius: 20px;
  padding: 10px;
  outline: none;
}
