body,
html {
  background: #151515;
  color: #edf0da;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0; }

a {
  color: #edf0da;
  text-decoration: none; }
  a:hover {
    transform: translateY(-3px); }

span {
  color: gainsboro;
  font-size: 1.25rem;
  margin: 0.5rem; }

h1 {
  font-weight: 200;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  font-size: 2.3rem; }

h2 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #a2a392; }

h3 {
  font-weight: 300;
  font-size: 1.1rem; }

h4 {
  font-size: 1rem; }

li {
  font-size: 1.25rem;
  color: #a2a392; }

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  margin: 15px 0;
  text-align: center;
  padding: 1rem; }

.poster {
  color: #fff;
  width: 250px;
  height: 400px;
  position: relative;
  margin-bottom: 30px;
  z-index: 2;
  border-radius: 0.8rem;
  overflow: hidden;
  cursor: default;
  transition: 0.4s ease; }
  .poster_image {
    height: 500px;
    overflow: hidden;
    z-index: 2; }
  .poster_details {
    position: absolute;
    top: 3.5rem;
    left: 0; }
    .poster_details h2 {
      font-size: 1.7rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      padding: 1rem;
      text-align: left; }
      .poster_details h2 i {
        color: goldenrod; }
    .poster_details a {
      display: flex;
      position: relative;
      bottom: 0;
      left: 0;
      justify-content: center;
      align-items: center;
      padding: 3px;
      width: 70px;
      height: 30px;
      border: none;
      background-color: #fff;
      color: #151515;
      margin: 0.8rem 1rem;
      cursor: pointer;
      outline: none;
      text-transform: uppercase;
      font-weight: bold; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: 0.4s ease;
  background-color: rgba(0, 0, 0, 0.65); }

.poster:hover .overlay {
  height: 500px; }

.add-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  font-size: 1.1rem; }
  .add-btn i {
    margin: 0.5rem; }
    .add-btn i:hover {
      color: palevioletred; }

.visible {
  display: none; }

.poster:hover .visible {
  display: block; }

#logo {
  display: block;
  margin: auto;
  width: 150px;
  margin-top: 1rem; }

.menu {
  position: sticky;
  width: 200px;
  top: 0;
  border-right: 0.1px solid #edf0da; }
  .menu a {
    text-decoration: none; }
  .menu_list {
    list-style-type: none; }
    .menu_list_button {
      font-size: 1rem;
      width: 80%;
      padding: 0.5rem;
      border-radius: 5rem;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      text-decoration: none; }
    .menu_list_button:hover {
      border-color: #edf0da; }
    .menu_list_item {
      margin-bottom: 0.5rem; }

.pushedIn {
  margin-left: 1rem; }

.button {
  font-size: 1rem;
  margin: 1.3rem;
  width: 400px;
  padding: 1rem;
  border-radius: 5rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  text-decoration: none; }
  .button:hover {
    background-color: #edf0da;
    color: #151515;
    border-color: #151515; }

.back {
  background-color: #edf0da;
  color: #151515;
  border-color: #151515;
  cursor: pointer; }
  .back:hover {
    background-color: #151515;
    color: #edf0da;
    border-color: #edf0da; }

.top-button {
  border: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 1rem;
  color: black;
  background-color: white;
  margin: 0.75rem; }
  .top-button:hover, .top-button:active {
    color: white;
    background-color: black;
    border: 1px solid white; }

.cast-container {
  display: flex;
  overflow-x: auto;
  margin-bottom: 2.2rem; }
  .cast-container_picture {
    border-radius: 1rem;
    width: 4rem; }

.cast-container::-webkit-scrollbar {
  display: none; }

form {
  margin: 1.5rem;
  position: relative;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px; }

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px; }

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s; }

form:hover {
  width: 200px;
  cursor: pointer; }

form:hover input {
  display: block; }

form:hover .fa {
  background: #07051a;
  color: white; }

.nav {
  grid-area: nav; }
  @media (max-width: 900px) {
    .nav {
      display: none; } }
  @media (min-width: 900px) {
    .nav {
      display: none; } }
  @media (min-width: 1200px) {
    .nav {
      display: block; } }

.content {
  grid-area: content; }

.home-grid {
  display: grid;
  grid-template-areas: 'nav' 'content';
  grid-gap: 2rem; }
  @media (min-width: 1200px) {
    .home-grid {
      grid-template-columns: 15% 80%;
      grid-template-areas: 'nav content'; } }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem; }

.top-menu {
  display: flex;
  padding: 0.6rem 1.8rem;
  width: 100%;
  align-items: center;
  height: 100px; }
  .top-menu .link {
    margin: 0.75rem;
    padding: 0.3rem;
    font-size: 1.75rem;
    font-weight: bold; }
  .top-menu .end {
    margin-left: auto; }

.info {
  grid-area: info; }

.movie-details-grid {
  display: grid;
  margin-left: 2rem;
  grid-gap: 2rem;
  grid-template-areas: 'poster' 'info'; }
  @media (min-width: 1200px) {
    .movie-details-grid {
      grid-template-columns: 35% 55%;
      grid-template-areas: 'poster info'; } }

.right {
  margin-left: 3rem; }
