body,
html {
  background: #151515;
  color: #edf0da;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  margin: 0;
  padding: 0; }

a {
  color: #edf0da;
  text-decoration: none; }
  a:hover {
    transform: translateY(-3px); }

span {
  color: gainsboro;
  font-size: 1.25rem;
  margin: 0.5rem; }

h1 {
  font-weight: 200;
  letter-spacing: -0.4px;
  text-transform: uppercase;
  font-size: 2.3rem; }

h2 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #a2a392; }

h3 {
  font-weight: 300;
  font-size: 1.1rem; }

h4 {
  font-size: 1rem; }

li {
  font-size: 1.25rem;
  color: #a2a392; }

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 1rem;
  margin-left: 2rem; }

.poster {
  width: 230px;
  border-radius: 0.8rem; }
  .poster_details {
    text-align: center; }

.poster:hover {
  background-color: #edf0da;
  color: #151515; }

#logo {
  display: block;
  margin: auto;
  width: 150px;
  margin-top: 1rem; }

.menu {
  position: sticky;
  width: 200px;
  top: 0;
  border-right: 0.1px solid #edf0da; }
  .menu a {
    text-decoration: none; }
  .menu_list {
    list-style-type: none; }
    .menu_list_button {
      font-size: 1rem;
      width: 80%;
      padding: 0.5rem;
      border-radius: 5rem;
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
      text-decoration: none; }
    .menu_list_button:hover {
      border-color: #edf0da; }
    .menu_list_item {
      margin-bottom: 0.5rem; }

.pushedIn {
  margin-left: 1rem; }

.button {
  font-size: 1rem;
  margin: 1.3rem;
  width: 400px;
  padding: 1rem;
  border-radius: 5rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  text-decoration: none; }
  .button:hover {
    background-color: #edf0da;
    color: #151515;
    border-color: #151515; }

.back {
  background-color: #edf0da;
  color: #151515;
  border-color: #151515;
  cursor: pointer; }
  .back:hover {
    background-color: #151515;
    color: #edf0da;
    border-color: #edf0da; }

.top-button {
  border: none;
  text-transform: uppercase;
  font-size: 1.75rem;
  padding: 1rem;
  color: black;
  background-color: white;
  margin: 0.75rem; }
  .top-button:hover, .top-button:active {
    color: white;
    background-color: black;
    border: 1px solid white; }

.cast-container {
  display: flex;
  overflow-x: auto;
  margin-bottom: 2.2rem; }
  .cast-container_picture {
    border-radius: 1rem;
    width: 4rem; }

.cast-container::-webkit-scrollbar {
  display: none; }

.search-container {
  display: flex;
  justify-content: flex-end; }

form {
  margin: 1.5rem;
  position: relative;
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px; }

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px; }

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s; }

form:hover {
  width: 200px;
  cursor: pointer; }

form:hover input {
  display: block; }

form:hover .fa {
  background: #07051a;
  color: white; }

.nav {
  grid-area: nav; }
  @media (max-width: 900px) {
    .nav {
      display: none; } }
  @media (min-width: 900px) {
    .nav {
      display: none; } }
  @media (min-width: 1200px) {
    .nav {
      display: block; } }

.content {
  grid-area: content; }

.home-grid {
  display: grid;
  grid-template-areas: 'nav' 'content';
  grid-gap: 2rem; }
  @media (min-width: 1200px) {
    .home-grid {
      grid-template-columns: 15% 80%;
      grid-template-areas: 'nav content'; } }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem; }

.top-menu {
  display: flex; }

.poster {
  grid-area: poster; }

.info {
  grid-area: info; }

.movie-details-grid {
  display: grid;
  margin-left: 2rem;
  grid-gap: 2rem;
  grid-template-areas: 'poster' 'info'; }
  @media (min-width: 1200px) {
    .movie-details-grid {
      grid-template-columns: 35% 55%;
      grid-template-areas: 'poster info'; } }

.right {
  margin-left: 3rem; }
