.button {
  font-size: 1rem;
  margin: 1.3rem;
  width: 400px;
  padding: 1rem;
  border-radius: 5rem;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  text-decoration: none;

  &:hover {
    background-color: $color-accent;
    color: $color-primary;
    border-color: $color-primary;
  }
}

.back {
  background-color: $color-accent;
  color: $color-primary;
  border-color: $color-primary;
  cursor: pointer;

  &:hover {
    background-color: $color-primary;
    color: $color-accent;
    border-color: $color-accent;
  }
}
