.nav {
  grid-area: nav;
  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  @include breakpoint(desktop) {
    display: block;
  }
}

.content {
  grid-area: content;
}

.home-grid {
  display: grid;
  grid-template-areas:
    'nav'
    'content';
  grid-gap: 2rem;

  @include breakpoint(desktop) {
    grid-template-columns: 15% 80%;
    grid-template-areas: 'nav content';
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  grid-gap: 1rem;
}
