.home-grid {
  display: grid;
  grid-template-columns: 15% 80%;
  grid-gap: 2rem;

  &_menu {
    grid-column: 1/2;
  }

  &_display {
    grid-column: 2/3;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}
