body,
html {
  background: #141414;
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
a {
  color: #fff;
  font-size: 20px;
}

.poster {
  margin-left: 10px;
  margin-right: 10px;
}
.backdrop {
  height: 500px;
  width: 100%;
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  display: grid;
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}

#carousel {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
}

.zoom {
  transition: transform 0.3s ease;

  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.3);
}

.description {
  visibility: hidden;
  opacity: 0;
}

.poster:hover .description {
  visibility: visible;
  opacity: 1;
}
.hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.image {
  height: 100px;
  width: 100px;

  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
}
.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 80%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.backdrop {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.backdrop .backdrop-layer_top {
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.backdrop-grid {
  display: grid;
  grid-template-columns: 40% auto;
  grid-template-rows: 20% 40% auto;
}

.backdrop-details {
  grid-column: 1/2;
  grid-row: 2/3;
}

.selected {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.selected .backdrop-layer_top {
  opacity: 1;
  position: relative;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.selected-grid {
  display: grid;
  grid-template-columns: 40% auto;
}

.selected-details {
  grid-column: 1/2;
}
.carousel-control-prev {
  margin-left: -100px;
}
#carousel {
  width: 1100px;
}
